.style{
    color:blueviolet;
}

body{
    background: rgb(229, 233, 237);
    font-family: Arial;
    margin: 0;
    padding: 0;
}
.dropdown{
    margin: 0 auto;
}
nav{
    height: 40px;
    background: #b6030f;
    box-shadow: 0 10px 15px rgba(red, green, blue, 0.1);

}

nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li{
    background: #4e2643;
    position: relative;
    list-style: none;
    display: inline-block;

}

nav ul li a{
    display: block;
    padding: 0 15px;
    color: beige;
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;

}
nav ul li a:hover{
    background: rgb(29, 29, 32);


}
nav ul ul{
    position: absolute;
    top: 40px;
    display: none;

}
nav ul li:hover> ul{
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;

}

nav ul ul ul li{
    position: relative;
    top: -60px;
    right: 150px;   
}

.content{
    position: relative;
    text-decoration: none;
    text-align: left;
    padding: 40px 40px;
}

.content h2{
    text-align: justify;
    text-decoration: rgb(10, 100, 179);
}

.content:hover{
    background-color: rgb(41, 31, 51);
}

